.cart {
    .cart__name {
        background-color: $bcr-name;
    }

    .cart__name-box {
        min-height: 148px;
        display: flex;
        align-items: center;

        @include mobile {
            justify-content: center;
        }
    }

    .cart__tittle {
        @include font(24px, 29px);
        color: $pink-color;
        text-transform: uppercase;
    }

    .cart__content {
        min-height: 651px;
        padding: 96px 0 0 0;
        display: flex;
        justify-content: space-between;

        @include tablet {
            padding: 59px 0 0 0;
            flex-direction: column;
        }

        @include mobile {
            padding: 39px 0 0 0;
            flex-direction: column;
            align-items: center;
        }
    }

    .cart__goods {
        width: 57.2%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include tablet-max {
            width: 100%;
        }
    }

    .cart__goods_list-status {
        display: flex;
        align-items: center;
        height: 100%;
        text-align: center;
        min-height: 50px;
        color: $dark-gray-color;
        @include font(17px, 17px, 300);
        text-transform: uppercase;
    }

    .cart__goods_item {
        width: 39vw;
        height: auto;
        display: flex;
        box-shadow: 15px 15px 29px 2px $light-gray-color;
        margin: 0 0 40px 0;

        @include tablet {
            width: 70vw;
            margin: 0px 0 32px 0;
        }

        @include mobile {
            width: 100%;
            margin: 0px 0 32px 0;
        }
    }

    .cart__goods_close {
        justify-self: flex-end;
        align-self: flex-start;
        line-height: 1px;
        margin: 6px 22px 0 0;

        @include mobile {
            margin: 0 12px 0 0;
        }
    }

    .cart__goods_close-img {
        width: 18px;
        height: 18px;

        @include mobile {
            width: 10px;
            height: 10px;
        }
    }

    .cart__goods_item-image {
        width: 40.2%;
        height: auto;

        @include mobile {
            width: 46.2%;
        }
    }

    .cart__goods_item-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 22px 0 0 31px;

        @include mobile {
            margin: 17px 0 0 17px;
        }
    }

    .cart__goods_item-tittle {
        width: 70%;
        @include font (24px, 28px);
        text-transform: uppercase;
        margin: 0 0 42px 0;

        @include mobile {
            @include font (16px, 19px);
            width: 96%;
            margin: 0 0 25px 0;
        }
    }

    .cart__goods_char-item {
        display: flex;
        @include font (22px, 26px);
        color: $text-dark-grey-color;
        padding: 0 0 6px 0;

        @include mobile {
            @include font (14px, 16px);
        }
    }

    .cart__goods_char-price {
        color: $pink-color;
    }

    .cart__goods_char-quantity {
        margin: 0 7px 0 15px;
    }

    .cart__goods_char-button {
        width: 26px;
        height: 26px;
        @include font (22px, 26px);
        color: $text-dark-grey-color;
        padding: 0 0 0 0;

        @include mobile {
            @include font (14px, 16px);
            width: 16px;
            height: 16px;
        }
    }

    .cart__goods-wrap {
        display: block;
        width: 100%;
    }

    .cart__goods_buttons {
        width: 95%;
        margin: 32px 0 128px 0;
        display: flex;
        justify-content: space-between;

        @include tablet {
            margin: 22px 0 64px 0%;
            width: 69.4%;
        }

        @include mobile {
            margin: 0px 0 48px 0;
            width: 100%;
        }
    }

    .cart__goods_button {
        min-height: 50px;
        color: $dark-gray-color;
        border: 1px solid $gray-color;
        padding: 16px 38px;
        @include font(17px, 17px, 300);
        text-transform: uppercase;

        @include tablet {
            width: 45%;
            padding: 0px 0px;
        }

        @include mobile {
            width: 46.7%;
            min-height: 33px;
            @include font(12px, 14px, 400);
            padding: 0px 0px;
        }
    }

    .cart__goods_wrap {
        margin: 0 0 0 11.3%;
        display: flex;
        flex-direction: column;
        width: 55.5%;

        @include tablet-max {
            margin: 0 0 0 0;
        }

        @include tablet {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }

        @include mobile {
            width: 100%;
            flex-direction: column;
        }
    }

    .cart__form_tittle {
        @include font(16px, 19px, 300);
        text-transform: uppercase;
    }

    .cart__form_field {
        margin: 20px 0 0 0;
        box-sizing: border-box;
        width: 100%;
        min-height: 45px;

        @include tablet {
            width: 80%;
        }
    }

    .cart__form_submit {
        border: 1px solid $gray-color;
        text-transform: uppercase;
        @include font(11px, 13px, 300);
        width: 28.1%;
        min-height: 45px;
        margin: 23px 0 0 0;
    }

    .cart__order {
        margin: 57px 0 0 0;
        padding: 39px 0 42px 0;
        color: $text-dark-grey-color;
        display: flex;
        flex-direction: column;
        background-color: $footer-bcg;

        @include tablet {
            margin: 0 0 147px 0;
            width: 46.9%;
        }

        @include mobile {
            margin: 48px 0 96px 0;
            width: 100%;
        }
    }

    .cart__order_text-wrap {
        display: flex;
        flex-direction: column;
    }

    .cart__order_subtittle {
        @include font (11px, 13px);
        text-transform: uppercase;
        text-align: end;
    }

    .cart__order_subtittle-price {
        padding: 0 10.3% 0 20px;
    }

    .cart__order_tittle {
        @include font (16px, 19px);
        text-transform: uppercase;
        text-align: end;
        margin: 12px 0 39px 0;
    }

    .cart__order_tittle-price {
        padding: 0 10.3% 0 20px;
    }

    .cart__order_submit {
        background-color: $pink-color;
        color: $white-color;
        text-transform: uppercase;
        @include font(16px, 19px, 300);
        width: 75.9%;
        min-height: 50px;

        @include tablet {
            width: 97%;
        }
    }

    .cart__order_text-box {
        display: flex;
        justify-content: center;
    }
}