.header {
    background-color: $black-color;

    .header__menu-list {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto auto auto;
        min-height: 75px;

        @include mobile-under {
            grid-template-columns: auto auto auto auto auto;
        }
    }

    .header__menu-item:not(:last-of-type) {
        margin: 0 25px 0 0;

        @include mobile-under {
            margin: 0 0 0 0;
        }
    }

    .header__navbar {
        position: relative;
        outline: 1px transparent;

        &:focus .navbar {
            display: flex;
        }

        @include mobile {
            margin: 0 10px 0 0;
        }

        @include mobile-under {
            margin: 0 0 0 0;
        }
    }

    .navbar {
        display: flex;
        position: absolute;
        z-index: 1;
        top: 55px;
        left: 30px;
        min-width: 232px;
        min-height: 765px;
        @include direction-column;
        background-color: $white-color;
    }

    .navbar__close {
        align-self: flex-end;
        line-height: 1px;
        margin: 16px 17px 0 0;
    }

    .navbar__tittle {
        font-weight: 700;
        text-transform: uppercase;
        color: $black-color;
        padding: 0 0 4px 34px;
    }

    .navbar-list__item-tittle {
        text-transform: uppercase;
        color: $pink-color;
        margin: 20px 0 12px 34px;
    }

    .navbar-list__item {
        color: $dark-gray-color;
        margin-left: 54px;
    }

    .navbar-list__item:not(:last-of-type) {
        margin-bottom: 11px;
    }

    .navbar_link-tittle {
        color: $pink-color;
    }

    .navbar_link {
        color: $dark-gray-color;
    }
}

@media (max-width: $desktop-width) {
    .header {
        .container {
            width: 96%;
        }

        .header__container {
            width: 91.5%;
        }

        .navbar {
            top: 50px;
            left: -142px;
            min-width: 200px;
            min-height: 610px;
            background-color: $white-color;
        }
    }
}

@media (max-width: $tables-width) {
    .header {
        .container {
            width: 91.5%;
        }
    }
}