html, body, button, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'latoblack';
  src: url("lato-black-webfont.woff2") format("woff2"), url("lato-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url("lato-bold-webfont.woff2") format("woff2"), url("lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url("lato-light-webfont.woff2") format("woff2"), url("lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url("lato-regular-webfont.woff2") format("woff2"), url("lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latohairline';
  src: url("lato-thin-webfont.woff2") format("woff2"), url("lato-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

body {
  line-height: 1;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  background-color: #FFF;
  color: #222;
}

.main {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.button {
  border: none;
  cursor: pointer;
  outline: transparent;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-box-pack: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button:hover,
.button:focus,
a:hover {
  opacity: .7;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.button:active {
  opacity: .4;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.input-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #6F6E6E;
  width: 100%;
  min-height: 45px;
  outline: transparent;
  border: 1px solid #9F9F9F;
}

.input-text :hover,
.input-text :focus {
  border-color: rgba(241, 109, 127, 0.7);
  outline: transparent;
}

@media (max-width: 1599px) {
  .container {
    width: 95.8%;
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.header {
  background-color: #222;
}

.header .header__menu-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto auto auto;
      grid-template-columns: auto 1fr auto auto auto;
  min-height: 75px;
}

@media (max-width: 374px) {
  .header .header__menu-list {
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
  }
}

.header .header__menu-item:not(:last-of-type) {
  margin: 0 25px 0 0;
}

@media (max-width: 374px) {
  .header .header__menu-item:not(:last-of-type) {
    margin: 0 0 0 0;
  }
}

.header .header__navbar {
  position: relative;
  outline: 1px transparent;
}

.header .header__navbar:focus .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header .header__navbar {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 374px) {
  .header .header__navbar {
    margin: 0 0 0 0;
  }
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 55px;
  left: 30px;
  min-width: 232px;
  min-height: 765px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  -ms-flex-direction: column;
  -ms-box-orient: vertical;
  flex-direction: column;
  background-color: #FFF;
}

.header .navbar__close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 1px;
  margin: 16px 17px 0 0;
}

.header .navbar__tittle {
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
  padding: 0 0 4px 34px;
}

.header .navbar-list__item-tittle {
  text-transform: uppercase;
  color: #F16D7F;
  margin: 20px 0 12px 34px;
}

.header .navbar-list__item {
  color: #6F6E6E;
  margin-left: 54px;
}

.header .navbar-list__item:not(:last-of-type) {
  margin-bottom: 11px;
}

.header .navbar_link-tittle {
  color: #F16D7F;
}

.header .navbar_link {
  color: #6F6E6E;
}

@media (max-width: 1599px) {
  .header .container {
    width: 96%;
  }
  .header .header__container {
    width: 91.5%;
  }
  .header .navbar {
    top: 50px;
    left: -142px;
    min-width: 200px;
    min-height: 610px;
    background-color: #FFF;
  }
}

@media (max-width: 768px) {
  .header .container {
    width: 91.5%;
  }
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #F1E4E6;
}

.name .name__content {
  width: 100%;
  padding: 0 0 0 4%;
}

.name .name__header {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 0 28px;
  max-width: 420px;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .name .name__header {
    max-width: 320px;
  }
}

@media (max-width: 767px) {
  .name .name__header {
    max-width: 280px;
  }
}

.name .name__header::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -12px;
}

.name .name__header-span {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: #F16D7F;
}

@media (max-width: 1599px) {
  .name .name__img {
    width: 50%;
    height: auto;
  }
  .name .name__content {
    padding: 0 0 0 5.2%;
  }
  .name .name__header {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
  }
  .name .name__header-span {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }
}

@media (max-width: 1599px) and (max-width: 768px) {
  .name .name__img {
    display: none;
  }
  .name .name__content {
    min-height: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-box-pack: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .name .name__header {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
  }
  .name .name__header-span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

.stock .stock__list {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .stock .stock__list {
    margin-top: 155px;
  }
}

@media (max-width: 767px) {
  .stock .stock__list {
    margin-top: 84px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.stock .stock__item {
  width: 31%;
  height: 260px;
  background-color: #3C3639;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .stock .stock__item {
    width: 31.5%;
  }
}

@media (max-width: 767px) {
  .stock .stock__item {
    width: 343px;
  }
}

@media (max-width: 374px) {
  .stock .stock__item {
    width: 91vw;
  }
}

.stock .stock__item:not(:last-of-type) {
  margin: 0 0 30px 0;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .stock .stock__item:not(:last-of-type) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767px) {
  .stock .stock__item:not(:last-of-type) {
    margin: 0 0 32px 0;
  }
}

.stock .stock__item--last {
  height: 180px;
  background-image: url(../img/stock-1.jpg);
  background-color: #3C3639;
}

@media (min-width: 768px) {
  .stock .stock__item--last {
    width: 100%;
  }
}

.stock .stock__item_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
}

.stock .stock_women {
  background-image: url(../img/stock-women.jpg);
}

.stock .stock_men {
  background-image: url(../img/stock-2.jpg);
}

.stock .stock_kids {
  background-image: url(../img/stock-3.jpg);
}

.stock .stock__item-name {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #FFF;
}

.stock .stok_item-category {
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #F16D7F;
}

.featured {
  padding: 96px 0 97px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  -ms-flex-direction: column;
  -ms-box-orient: vertical;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .featured {
    padding: 154px 0 65px 0;
  }
}

@media (max-width: 767px) {
  .featured {
    padding: 64px 0 97px 0;
  }
}

.featured .featured__tittle {
  text-align: center;
  margin-bottom: 6px;
}

.featured .featured__subtittle {
  color: #9F9F9F;
}

.featured .featured__search {
  margin: 8px 0 34px 0;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .featured .featured__search {
    margin: 8px 0 50px 0;
  }
}

.featured .featured__search:focus, .featured .featured__search:hover {
  outline: 2px solid #F16D7F;
  border-color: transparent;
}

.featured .featured__list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 360px);
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .featured .featured__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.featured .featured__list-status {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #222;
}

.featured .featured__item {
  margin: 0 0 30px 0;
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  -ms-flex-direction: column;
  -ms-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.featured .featured__picture {
  position: relative;
}

.featured .featured__picture_image {
  width: 100%;
  min-width: 100%;
  height: auto;
}

@media (max-width: 374px) {
  .featured .featured__picture_image {
    width: 91vw;
    min-width: 91vw;
    height: auto;
  }
}

.featured .featured__image-box {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-box-pack: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured .featured__image-box:hover {
  opacity: 1;
  background-color: rgba(33, 33, 33, 0.7);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.featured .featured__item-button {
  border: 1px solid #FFF;
  width: 138px;
  min-height: 43px;
}

.featured .featured__item-button_text {
  color: #FFF;
  margin: 0 0 0 11px;
}

.featured .featured__item_text {
  margin: 25px 0 12px 18px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222;
}

.featured .featured__item_subtext {
  margin: 0 0 0 18px;
  font-weight: 300;
  color: #9F9F9F;
}

.featured .featured__item_price {
  margin: 18px 0 20px 18px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
}

.featured .featured_button {
  min-width: 211px;
  min-height: 47px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

@media (max-width: 374px) {
  .featured .featured_button {
    min-width: 92vw;
  }
}

.advantages {
  background-color: #222;
}

.advantages .advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  min-height: 341px;
}

@media (max-width: 1599px) {
  .advantages .advantages__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 498px;
    padding: 48px 0 64px 0;
  }
}

.advantages .advantages__box {
  max-width: 360px;
  min-height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  -ms-flex-direction: column;
  -ms-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.advantages .advantages__icon-1::before {
  content: url("../img/advantages-1.svg");
}

.advantages .advantages__icon-2::before {
  content: url("../img/advantages-2.svg");
}

.advantages .advantages__icon-3::before {
  content: url("../img/advantages-3.svg");
}

.advantages .advantages_text {
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
}

.advantages .advantages_subtext {
  font-weight: 300;
  color: #FFF;
  text-align: center;
}

.footer .footer__box {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 448px;
  background-color: #F2F2F2;
  background-image: url(../img/bg-footer-descktop.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .footer .footer__box {
    background-image: url(../img/bg-footer-tablet.jpg);
  }
}

@media (max-width: 374px) {
  .footer .footer__box {
    background-image: url(../img/bg-footer-mobile.jpg);
  }
}

.footer .footer__box .footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  min-height: 448px;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .footer .footer__box .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-box-direction: normal;
    -ms-flex-direction: column;
    -ms-box-orient: vertical;
    flex-direction: column;
    min-height: 421px;
    padding: 53px 0 140px 0;
  }
}

@media (max-width: 767px) {
  .footer .footer__box .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-box-direction: normal;
    -ms-flex-direction: column;
    -ms-box-orient: vertical;
    flex-direction: column;
    min-height: 386px;
    padding: 54px 0 110px 0;
  }
}

.footer .footer__box .footer__content {
  max-width: 360px;
  text-align: center;
}

.footer .footer__box .footer__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #222;
  margin: 20px 0 59px 0;
}

.footer .footer__box .footer__image::before {
  content: url("../img/intersect.png");
}

.footer .footer__box .footer__tittle {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
}

.footer .footer__box .footer__subtittle {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 32px;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .footer .footer__box .footer__subtittle {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
  }
}

@media (max-width: 767px) {
  .footer .footer__box .footer__subtittle {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}

.footer .footer__box .footer__subscribe {
  min-width: 320px;
  text-align: center;
  margin: 0 97px 0 0;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .footer .footer__box .footer__subscribe {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .footer .footer__box .footer__subscribe {
    margin: 0;
  }
}

@media (max-width: 374px) {
  .footer .footer__box .footer__subscribe {
    min-width: 91vw;
  }
}

.footer .footer__box .footer__form {
  background-color: #E1E1E1;
  border: 1px solid transparent;
  border-radius: 25px 25px 25px 25px;
  min-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  outline: transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.footer .footer__box .footer__form:focus-within, .footer .footer__box .footer__form:hover {
  border-color: rgba(241, 109, 127, 0.7);
  outline: transparent;
}

.footer .footer__box .footer__field-text {
  padding: 0 0 0 22px;
  width: 100%;
  border: none;
  outline: transparent;
  background-color: transparent;
}

.footer .footer__box .footer__button-submit {
  background-color: #F16D7F;
  color: #FFF;
  border: none;
  outline: transparent;
  border-radius: 0 25px 25px 0;
  min-width: 100px;
  min-height: 49px;
}

.footer .footer__box .footer__form {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.footer .footer__holder {
  background-color: #222;
}

.footer .footer__holder .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 79px;
}

@media (max-width: 767px) {
  .footer .footer__holder .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 43px 0 9px 0;
    min-height: 91px;
  }
}

.footer .footer__holder .footer__wrapper_text {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
}

.footer .footer__holder .footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__holder .footer__social-item:not(:last-of-type) {
  margin: 0 7px 0 0;
}

.registration .registration__name {
  background-color: #F8F3F4;
}

.registration .registration__name_box {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .registration .registration__name_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.registration .registration__tittle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F16D7F;
  text-transform: uppercase;
}

.registration .registration__content {
  min-height: 651px;
  padding: 64px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1599px) {
  .registration .registration__content {
    padding: 40px 0 0 0;
  }
}

@media (max-width: 767px) {
  .registration .registration__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.registration .registration__form {
  width: 31.6%;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .registration .registration__form {
    width: 46.9%;
  }
}

@media (max-width: 767px) {
  .registration .registration__form {
    width: 100%;
  }
}

.registration .registration__perks {
  width: 57.2%;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .registration .registration__perks {
    width: 46%;
  }
}

@media (max-width: 767px) {
  .registration .registration__perks {
    width: 100%;
    margin: 0 0 90px 0;
  }
}

.registration .registration__form_tittle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}

.registration .registration__form_field {
  margin: 20px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration .registration__form_field-check {
  margin: 31px 10px 33px 0;
}

.registration .registration__form_check-text {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  padding: 0 20px 0 0;
}

.registration .registration__form_login-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #6F6E6E;
  display: block;
  margin: 15px 20px 39px 0;
}

.registration .registration__form_submit {
  min-width: 167px;
  min-height: 50px;
  background-color: #F16D7F;
  color: #FFF;
  text-transform: uppercase;
}

.registration .registration__form_submit-text {
  padding: 0 20px 0 0;
}

.registration .registration__form_submit-icon::before {
  content: url("../img/vector.svg");
}

.registration .registration__perks_tittle,
.registration .registration__perks_subtittle,
.registration .registration__perks_item {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

@media (max-width: 1599px) {
  .registration .registration__perks_tittle,
  .registration .registration__perks_subtittle,
  .registration .registration__perks_item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
  }
}

.registration .registration__perks_tittle {
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .registration .registration__perks_tittle {
    padding: 40px 0 0 0;
  }
}

.registration .registration__perks_subtittle {
  margin: 22px 0 21px 0;
}

.registration .registration__perks_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 16px 0;
}

.registration .registration__perks_item-text {
  display: block;
}

.registration .registration__perks_item::before {
  content: url(../img/check-mark.svg);
  margin: 0 23px 0 0;
}

.cart .cart__name {
  background-color: #F8F3F4;
}

.cart .cart__name-box {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .cart .cart__name-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cart .cart__tittle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F16D7F;
  text-transform: uppercase;
}

.cart .cart__content {
  min-height: 651px;
  padding: 96px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cart__content {
    padding: 59px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .cart .cart__content {
    padding: 39px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cart .cart__goods {
  width: 57.2%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1599px) {
  .cart .cart__goods {
    width: 100%;
  }
}

.cart .cart__goods_list-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
  min-height: 50px;
  color: #6F6E6E;
  font-size: 17px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
}

.cart .cart__goods_item {
  width: 39vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 15px 15px 29px 2px #E1E1E1;
          box-shadow: 15px 15px 29px 2px #E1E1E1;
  margin: 0 0 40px 0;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cart__goods_item {
    width: 70vw;
    margin: 0px 0 32px 0;
  }
}

@media (max-width: 767px) {
  .cart .cart__goods_item {
    width: 100%;
    margin: 0px 0 32px 0;
  }
}

.cart .cart__goods_close {
  justify-self: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 1px;
  margin: 6px 22px 0 0;
}

@media (max-width: 767px) {
  .cart .cart__goods_close {
    margin: 0 12px 0 0;
  }
}

.cart .cart__goods_close-img {
  width: 18px;
  height: 18px;
}

@media (max-width: 767px) {
  .cart .cart__goods_close-img {
    width: 10px;
    height: 10px;
  }
}

.cart .cart__goods_item-image {
  width: 40.2%;
  height: auto;
}

@media (max-width: 767px) {
  .cart .cart__goods_item-image {
    width: 46.2%;
  }
}

.cart .cart__goods_item-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 22px 0 0 31px;
}

@media (max-width: 767px) {
  .cart .cart__goods_item-wrap {
    margin: 17px 0 0 17px;
  }
}

.cart .cart__goods_item-tittle {
  width: 70%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 42px 0;
}

@media (max-width: 767px) {
  .cart .cart__goods_item-tittle {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    width: 96%;
    margin: 0 0 25px 0;
  }
}

.cart .cart__goods_char-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #575757;
  padding: 0 0 6px 0;
}

@media (max-width: 767px) {
  .cart .cart__goods_char-item {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.cart .cart__goods_char-price {
  color: #F16D7F;
}

.cart .cart__goods_char-quantity {
  margin: 0 7px 0 15px;
}

.cart .cart__goods_char-button {
  width: 26px;
  height: 26px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #575757;
  padding: 0 0 0 0;
}

@media (max-width: 767px) {
  .cart .cart__goods_char-button {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    width: 16px;
    height: 16px;
  }
}

.cart .cart__goods-wrap {
  display: block;
  width: 100%;
}

.cart .cart__goods_buttons {
  width: 95%;
  margin: 32px 0 128px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cart__goods_buttons {
    margin: 22px 0 64px 0%;
    width: 69.4%;
  }
}

@media (max-width: 767px) {
  .cart .cart__goods_buttons {
    margin: 0px 0 48px 0;
    width: 100%;
  }
}

.cart .cart__goods_button {
  min-height: 50px;
  color: #6F6E6E;
  border: 1px solid #9F9F9F;
  padding: 16px 38px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cart__goods_button {
    width: 45%;
    padding: 0px 0px;
  }
}

@media (max-width: 767px) {
  .cart .cart__goods_button {
    width: 46.7%;
    min-height: 33px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    padding: 0px 0px;
  }
}

.cart .cart__goods_wrap {
  margin: 0 0 0 11.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55.5%;
}

@media (max-width: 1599px) {
  .cart .cart__goods_wrap {
    margin: 0 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cart__goods_wrap {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .cart .cart__goods_wrap {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart .cart__form_tittle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
}

.cart .cart__form_field {
  margin: 20px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 45px;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cart__form_field {
    width: 80%;
  }
}

.cart .cart__form_submit {
  border: 1px solid #9F9F9F;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  width: 28.1%;
  min-height: 45px;
  margin: 23px 0 0 0;
}

.cart .cart__order {
  margin: 57px 0 0 0;
  padding: 39px 0 42px 0;
  color: #575757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F2F2F2;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cart__order {
    margin: 0 0 147px 0;
    width: 46.9%;
  }
}

@media (max-width: 767px) {
  .cart .cart__order {
    margin: 48px 0 96px 0;
    width: 100%;
  }
}

.cart .cart__order_text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart .cart__order_subtittle {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: end;
}

.cart .cart__order_subtittle-price {
  padding: 0 10.3% 0 20px;
}

.cart .cart__order_tittle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: end;
  margin: 12px 0 39px 0;
}

.cart .cart__order_tittle-price {
  padding: 0 10.3% 0 20px;
}

.cart .cart__order_submit {
  background-color: #F16D7F;
  color: #FFF;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  width: 75.9%;
  min-height: 50px;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cart__order_submit {
    width: 97%;
  }
}

.cart .cart__order_text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fs14 {
  font-size: 14px;
  line-height: 17px;
}

.fs18 {
  font-size: 18px;
  line-height: 22px;
}

.fs24 {
  font-size: 24px;
}

.pink {
  color: #F16D7F !important;
}

.gray {
  color: #9F9F9F !important;
}

.carousel-dark {
  background-color: #E1E1E1;
}

.product-name {
  min-height: 148px;
}

@media (max-width: 767px) {
  .product-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
}

.product-text-wrap {
  position: relative;
  margin-top: -30px;
  background-color: #FFF;
}

.product-tittle {
  margin: 61px 0 12px 0;
}

.bottom-line {
  position: relative;
  height: 17px;
}

.bottom-line::before {
  position: absolute;
  content: '';
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  margin: 12px 0 0 -31px;
}

.product-text {
  margin: 48px 0 32px 0;
  max-width: 48.7%;
}

@media (max-width: 767px) {
  .product-text {
    max-width: 96%;
  }
}

.dropdown-btn {
  background-color: transparent;
  color: #6F6E6E;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .dropdown-btn {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
  }
}

.dropdown-btn:hover, .dropdown-btn:active, .dropdown-btn:focus {
  background-color: inherit;
  color: inherit;
  border: none;
}

.product-buttons-box {
  margin: 130px 0 49px 0;
}

@media (max-width: 767px) {
  .product-buttons-box {
    margin: 81px 0 64px 0;
  }
}

@media (max-width: 374px) {
  .product-buttons-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.btn-outline-danger {
  width: 211px;
  min-height: 47px;
  margin: 0 0 65px 0;
}

.button-icon {
  margin: -40px;
  margin: 0 5% 0 0px;
  fill: #F16D7F;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn-outline-danger:hover .button-icon-1 {
  fill: #FFF;
}

.catalog .catalog__name {
  background-color: #F8F3F4;
}

.catalog .catalog__name_box {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .catalog .catalog__name_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.catalog .catalog__tittle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F16D7F;
  text-transform: uppercase;
}

@media (max-width: 374px) {
  .catalog .catalog__tittle {
    text-align: center;
  }
}

.catalog .catalog__breadcrumb_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 374px) {
  .catalog .catalog__breadcrumb_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.catalog .catalog__breadcrumb_item {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: #6F6E6E;
}

.catalog .catalog__breadcrumb_space {
  margin: 0 5px 0 5px;
}

.catalog .catalog__breadcrumb_item-active {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #F16D7F;
}

.catalog .catalog__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 132px;
}

@media (max-width: 1599px) {
  .catalog .catalog__filters {
    min-height: 81px;
  }
}

@media (max-width: 767px) {
  .catalog .catalog__filters {
    margin: 0 10px 0 0;
  }
}

.catalog .catalog__filters_dropdown {
  position: relative;
}

.catalog .catalog__filters_dropdown:focus-within .filter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F16D7F;
}

.catalog .catalog__filters_dropdown-button {
  position: relative;
  z-index: 2;
  margin: 0 0 0 16px;
  outline: 1px transparent;
}

.catalog .catalog__filters_dropdown-button:focus {
  color: #F16D7F;
}

.catalog .catalog__filters_dropdown-button:focus .catalog__filters_dropdown-icon {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  fill: #F16D7F;
}

.catalog .catalog__filters_dropdown-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .catalog .catalog__filters_dropdown-text {
    display: none;
  }
}

.catalog .catalog__filters_dropdown-icon {
  margin: 0 0 0 11px;
  fill: #222;
}

@media (max-width: 767px) {
  .catalog .catalog__filters_dropdown-icon {
    width: 37px;
    height: 25px;
  }
}

.catalog .filter-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: -13px;
  left: 0px;
  min-height: 531px;
  width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  -ms-flex-direction: column;
  -ms-box-orient: vertical;
  flex-direction: column;
  background-color: #FFF;
  -webkit-box-shadow: 7px 7px 14px 2px #E1E1E1;
          box-shadow: 7px 7px 14px 2px #E1E1E1;
}

.catalog .filter-menu:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .catalog .filter-menu {
    width: 92vw;
  }
}

.catalog .filter-menu__item {
  text-transform: uppercase;
  color: #F16D7F;
  margin: 32px 0 0 33px;
}

.catalog .filter-menu__item:first-child {
  margin: 51px 0 0 33px;
}

.catalog .filter-menu__category-item {
  margin: 11px 0 0 0;
}

.catalog .filter-menu__category-item:first-of-type {
  margin: 36px 0 0 0;
}

.catalog .filter-menu__category-tittle {
  color: #6F6E6E;
}

@media (max-width: 1599px) {
  .catalog .header .navbar {
    top: 50px;
    left: -142px;
    min-width: 200px;
    min-height: 610px;
    background-color: #FFF;
  }
}

@media (max-width: 767px) {
  .catalog .catalog__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.catalog .catalog__list {
  min-height: 1192px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
  -ms-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .catalog .catalog__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .catalog .catalog__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.catalog .catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  -ms-flex-direction: column;
  -ms-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 360px;
  margin: 0 0 30px 0;
}

.catalog .catalog__picture {
  width: 100%;
  min-width: 100%;
  height: auto;
}

@media (max-width: 374px) {
  .catalog .catalog__picture {
    width: 91vw;
    min-width: 91vw;
    height: auto;
  }
}

.catalog .catalog__item_text {
  margin: 25px 0 12px 18px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222;
}

.catalog .catalog__item_subtext {
  margin: 0 0 0 18px;
  font-weight: 300;
  color: #9F9F9F;
}

.catalog .catalog__item_price {
  margin: 18px 0 20px 18px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
}
/*# sourceMappingURL=style.css.map */